<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

<sebm-google-map [latitude]="lat" [longitude]="lon" [zoom]="zoom">

  <sebm-google-map-marker (markerClick)= " clickedMarker()" [latitude]="lat" [longitude]="lon" [iconUrl] ="imageMarker">
    <sebm-google-map-info-window [disableAutoPan]="true" >
      <div class="imgs">
        <img *ngFor ="let imag of imageAnimal" src={{imag}} id="imgAnimal" >
      <div id="clinicBar">
        <button id="register"  routerLink="/registration" >регистрация</button>
      </div>
      <div  id="textBar">
        <div>
          {{textStrong}}
        </div>
      </div>
      </div>
    </sebm-google-map-info-window>

  </sebm-google-map-marker>

</sebm-google-map>

</body>
</html>



